*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
nav.navbar, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 3, 59);
    color: white;
    padding: 20px 40px;
}
.footer{
    text-align: center;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.hero{
    display: flex;
    background-color: rgb(230, 230, 255);
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    gap: 25px;
}
.hero button{
    padding: 20px 40px;
    background-color: blue;
    color: white;
    width: 40%;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
.hero button:hover{
    background-color: skyblue;
}
.hero-img img{
    width: 500px;
    height: auto;
}
.hero-txt h1{
    font-size: 32px;
    margin-bottom: 16px;
}
.hero-txt p{
    margin-bottom: 30px;
}
.hero-txt{
    max-width: 500px;
}
.features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 40px 20px;
    gap: 20px;
    text-align: center;
}
.feature{
    flex: 1 1 250px;
    padding: 40px 20px;
    background-color: rgb(160, 160, 210);
    border-radius: 10px;
}

.product-gallery {
    background-color: lightgrey;
    padding: 40px 20px;
    text-align: center;   
}

.product-gallery h2{
    background-color: lightgrey;
    color: black;
}

.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
}

.product-card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(191, 191, 236);
    transition: .3s ease;
}

.product-card:hover{
    transform: scale(1.1, 1.1);
}
.foot{
    background-color: rgb(46, 77, 190);
    color: white;
    justify-content: space-between;
    font-weight: bold;
}
button{
    color: black;
    background-color: white;
    border-color: black;
    width: 150px;
    justify-content: center;
}

.foot{
    background-color: rgb(3, 3, 59);
    text-align: center;
    padding: 40px 20px;
}